{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Student Activate
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Activate</h3>
                    </div>
                    <!-- /.card-header -->

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                    <form method="POST" action="{% url 'student_activate_save' %}">
                        {% csrf_token %}
                        <div class="card-body">
                           
                            <div class="form-group">
                                <label>Activate Date </label>
                                <input type="date" name="activate_date" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Full Name of Activater </label>
                                <input type="text"  name="activater_name" class="form-control" rows="6" placeholder="Enter your Full Name" />
                            </div>
                            <div class="form-group">
                                <label>Birr</label>
                                <input type="text"  name="activate_birr" class="form-control"  placeholder="Enter Amount of Many " />
                            </div>
                            <div class="form-group">
                                <label>TXN ID</label>
                                <input type="text"  name="activate_txn" class="form-control"  placeholder="Enter ID of Txn " />
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Activate</button>
                        </div>

                    </form>

                    </div>
                    <!-- /.card -->



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Activate History</h3>
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                 <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Activate Date</th>
                                        <th>Name of Activater</th>
                                        <th>Birr</th> 
                                        <th>TXN ID</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    
                                    {% for activate in activate_data %}
                                    <tr>
                                        <td>{{ activate.id }}</td>
                                        <td>{{ activate.date }}</td>
                                        <td>{{ activate.activater_name }}</td>
                                        <td>{{ activate.activate_birr }}</td> 
                                        <td>{{ activate.activate_txn }}</td>
                                        <td>
                                            {% if activate.activate_status == 1 %}
                                                <span class="alert alert-success">Approved</span>
                                            {% elif activate.activate_status == 2 %}
                                                <span class="alert alert-danger">Rejected</span>
                                            {% else %}
                                                <span class="alert alert-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table> 
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}